<!DOCTYPE html>
<html>
	
<head>
    
    <meta charset=utf-8 />
    <title>Nested Test</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="_inc/css/main.css" />
    <!-- <script src="_inc/lib/cssrefresh.js"></script> -->
        
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
       
    <!--- angular --->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
	
	
	<script src="_inc/lib/Sortable.min.js"></script>
	<script src="_inc/lib/angular-legacy-sortable.js"></script>

	<!--- code --->
	<script src="_inc/js/app.js"></script>

</head>

<body>
	
	<div ng-app="sortableApp" ng-controller="sortableController">
	
		<div class="row">
	    	<div class="col-xs-12">
	    		<button ng-click="add()">Add</button>
	    	</div>
		</div>
	
	    <!-- soratble tree -->
	    <div class="row">
	    	<div class="col-xs-6">
		    	
		    	<div class="tools"></div>
	    	 	<div class="breadcrumb"></div>
	    	 	
		    	<ul class="tree" ng-sortable>
			 		<li class="treeitem" 
			 		    ng-repeat="item in tree.content.tree">
			 		    {{ item.label }} {{$index}}
			 		</li>
				</ul>
				
			    {{tree}}
			       
	    	</div>
	    	
    	 	<div class="col-xs-6">
	    	 	
	    	 	<div class="tools"></div>
	    	 	<div class="breadcrumb"></div>
	    	 	
	    	 	<ul class="field">
			 		<li class="fielditem" ng-repeat="item in field">{{ item.label }}</li>
				</ul>
    	 	</div>
    	 	
	    </div>

	
	</div>
     
</body>

</html>