body {
  margin: 25px; }
  body button {
    padding: 10px 20px 10px 20px;
    margin: 0 0 25px 0; }
  body ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0; }
  body ul.apps-container {
    background-color: #EEE;
    margin: 5px;
    padding: 20px;
    border: 1px solid red;
    clear: both;
    min-height: 100px;
    overflow: auto; }
    body ul.apps-container li {
      border: 1px solid blue;
      clear: both;
      overflow: auto; }
  body ul.field {
    border: 1px solid #EEE;
    clear: both;
    overflow: auto; }
  body .treeitem {
    padding: 10px;
    border-bottom: 1px solid #CCC; }
  body .fielditem {
    margin: 10px;
    width: 75px;
    height: 75px;
    background-color: red;
    float: left; }
